body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  font-family: "Manrope", sans-serif;
}
.login-banner {
  width: 50%;
  padding: 0 75px;
  background: linear-gradient(142.92deg, #0051B0 0%, #023D82 97.3%);
  box-shadow: -1px 0px 0px 0px #9999991A inset;
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: #ffffff;
  }
  p {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 300;
  }
}

.login-banner__bg-circle--first-ring {
  border: 1px solid #0575E6;
  width: 480px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  bottom: -40%;
  left: -22%;
}

.login-banner__bg-circle--second-ring {
  border: 1px solid #0575E6;
  width: 480px;
  height: 500px;
  border-radius: 100%;
  position: absolute;
  bottom: -43%;
  left: -13%;
}

.login-form {
  width: 50%;
}

.login-form__block {
  box-shadow: 0px 8px 24px 0px #959DA533;
  background: #FFFFFF;
  border-radius: 20px;
  max-width: 615px;
  margin: 0 auto;
  padding: 100px 60px;
  h2 {
    color: #272C68;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 0 30px;
  }
  .msg-label {
    color: #6A6C94;
    font-size: 14px;
  }
  .form-label {
    color: #9295B1;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
    .mandatory {
      color: #FF5256;
      margin-left: 2px;
    }
  }
  .form-control {
    border-color: #E3E5EE;
    height: 45px;
    border-radius: 10px;
    color: #272C68;
    font-size: 14px;
    font-weight: 500;
    padding-left: 15px;
  }
  .form-icon {
    position: absolute;
    right: 15px;
    top: 8px;
    font-size: 20px;
    color: #6D6E9A;
    cursor: pointer;
    .bi {
      color: #6D6E9A;
      font-size: 21px;
    }
  }
  .form-control {
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      color: #272C68;
    }
  }
  .link-text {
    font-size: 14px;
    font-weight: 600;
    &.active {
      color: #7385E7 !important;
    }
  }
}

.jacarta {
  color: #272C68 !important;
}
.text-600 {
  font-weight: 600;
}
.text-700 {
  font-weight: 700;
}

.PickledBluewood {
  color: #243346 !important;
}

.RiverBed {
  color: #4B5563 !important;
}
.cobalt {
  color: #0051B0 !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.cursor {
  cursor: pointer;
}
.text-line {
  text-decoration: underline;
}
.btn-primary {
  background: #0051B0;
  border-color: #0051B0;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  height: 45px;
  width: 100%;
  margin: 30px 0 20px;
}
.btn-back {
  background: #FFFFFF;
  border-color: #0051B0 !important;
  border-radius: 10px;
  color: #0051B0;
  font-size: 16px;
  font-weight: 800;
  height: 45px;
  width: 100%;
  margin: 30px 0 20px;
}
.login-form__block {
  .alert-danger {
    position: absolute;
    top: 100%;
    margin-top: 1px;
    max-width: 60%;
    bottom: auto;
    right: 0;
    padding: 3px 9px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 3px;
    border-left: 2px solid #f1aeb5;
    border-right: none;
    border-top: none;
    border-bottom: none;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

/* Home Page */
.sidebar {
  background: #0051B0;
  box-shadow: -1px 0px 0px 0px #9999991A inset;
  position: relative;
  //height: 100vh;
  &.minimized {
    width: 85px;
    .sidebar--logo {
      padding: 22px 5px 15px;
      height: 68px;
    }
  }
  .bi-code {
    color: #000000;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    width: 28px;
    height: 28px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -15px;
    top: 50px;
    font-size: 19px;
    padding-top: 2px;
    cursor: pointer;
  }
}

.sidebar--logo {
  border-bottom: 1px solid #3374c0;
  padding: 15px 30px 15px;
  margin-bottom: 25px;
}
.sidebar ul li {
  margin-bottom: 5px;
  a {
    color: #ccdcef;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    height: 52px;
    display: flex;
    margin: 0 10px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 0 20px;
    &.active {
      background: #4D85C8;
      color: #FFFFFF;
      font-weight: 600;
    }
  }
}



.main-section {
  background: #f9fafb;
  // width: calc(100vw - 256px);
  width: 100%;
  min-height: 100vh;
  header {
    background: #FFFFFF;
    height: 70px;
    padding: 15px 32px;
    margin-left: 20px;
    margin-bottom: 25px;
    .profile-name {
      color: #2F2F2F;
      font-size: 16px;
      font-weight: 500;
      margin-right: 15px;
    }
    .profile-image {
      border-radius: 8px;
      border: 1px solid #DDE4EE;
    }
    .dropdown-menu {
      border-radius: 10px;
      li {
        margin: 0 10px;
      }
      a {
        font-weight: 600;
        outline: none;
        background: #FFFFFF !important;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
      }
    }
  }
  .main-upload {
    padding: 0 32px 0 25px;
    .breadcrumb {
      ul {
        li {
          margin-right: 3px;
          a {
            color: #8B96A3;
            font-size: 16px;
            font-weight: 500;
            &.active {
              font-weight: 700;
              color: #272C68;
            }
          }
        }
      }
    }
    .filter-input-form {
      background: #FFFFFF;
      border-radius: 10px;
      padding: 20px;
      h2 {
        font-size: 20px;
        color: #243346;
        font-weight: 800;
        margin: 0 0 7px;
      }
      h3 {
        color: #243346;
        font-size: 16px;
        font-weight: 600;
        margin: 25px 0 0;
      }
      p {
        margin: 0 0 15px;
        font-weight: 400;
        font-size: 14px;
        color: #6D6D6D;
      }
      .form-label {
        margin: 0 0 5px;
        font-weight: 600;
        font-size: 14px;
        color: #6D6D6D;
      }
      .form-control,
      .form-select {
        border-color: #272C68;
        border-radius: 10px;
        height: 44px;
        font-weight: 500;
        font-size: 14px;
        color: #272C68;
      }
      .btn-back {

      }
      .btn-primary {

      }
    }






  }

  .document-upload-progressbar {
    margin: 0 auto;
    min-height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 14px;
      margin-top: 20px;
      font-weight: 600;
      color: #686D77;
      white-space: nowrap;
    }
    .CircularProgressbar .CircularProgressbar-text {
      fill: #3085E9;
      font-size: 20px;
      font-weight: 700 !important;
    }
    .CircularProgressbar .CircularProgressbar-path {
      stroke: #3085E9 !important;
    }
  }

}

.modal-otp {
  max-width: 300px;
  .modal-content {
    border-radius: 10px;
    border: none;
  }
  h2 {
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 15px;
    color: #243346;
  }
  p {
    font-size: 12px;
    color: #6D6D6D;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .form-control {
    border-color: #DDE1E5;
    color: #272C68;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px;
    text-align: center;
    box-shadow: none;
    height: 35px;
    border-radius: 6px;
    &:focus {
      border-color: #272C68;
    }
    &.filled {
      border-color: #272C68 !important;
    }
    &.verified {
      border-color: #3AC267 !important;
    }
  }
  .icon-success {
    color: #3AC267;
    font-size: 17px;
  }
  .btn-primary {
    height: 36px;
    .spinner-border {
      width: 15px;
      height: 15px;
      margin-left: 15px;
    }
  }
}

.home-welcome-links {
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
  }
  p {
    color: #56586B;
    font-size: 16px;
    text-align: center;
    width: 55%;
    margin: 0 auto;
  }
  .link-box {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px 25px;
    position: relative;
    &.gradient-bg {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 50%;
        border-radius: 10px;
      }
      &.violet {
        &:before {
          background: linear-gradient(180deg, #E5E1FE 0%, #FFFFFF 100%);
        }
      }
      &.orange {
        &:before {
          background: linear-gradient(180deg, #F8E4E2 0%, #FFFFFF 100%);
        }
      }
      &.yellow {
        &:before {
          background: linear-gradient(180deg, #FFEAD1 0%, #FFFFFF 100%);
        }
      }
    }
    h3 {
      color: #272C68;
      font-size: 16px;
      font-weight: 700;
      margin: 20px 0 15px;
    }
    h4 {
      color: #23272E;
      font-size: 12px;
      font-weight: 500;
    }
    a {
      color: #0051B0;
      font-size: 13px;
      font-weight: 700;
    }
  }
}

.msg-label {
  color: #6A6C94;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.toast-success {
  background-color: #4caf50 !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  display: flex !important;
  align-items: center !important;
}

.toast-error {
  background-color: #f44336 !important;
  color: #ffffff !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  display: flex !important;
  align-items: center !important;
}

.grid-view {
  margin-left: 25px;
  margin-right: 32px;
  .tab-header {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 8px 5px;
  }
  .page-heading {
    color: #243346;
    font-size: 20px;
    font-weight: 800;
    padding-left: 15px;
    margin: 0;
  }
  .nav-tabs {
    border: none;
    height: 36px;
    border-radius: 4px;
    background: #f5f6f8;
    display: flex;
    align-items: center;
    padding: 0 4px;
    margin-left: 12px;
    .nav-item {
      .nav-link {
        color: #999999;
        font-size: 14px;
        font-weight: 600;
        border: none;
        padding: 4px 14px;
        border-radius: 4px;
        &.active {
          color: #4F6681;
          font-weight: 700;
        }
      }
    }
  }
  .filter-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-left: 20px;
    h3 {
      color: #3B4B5F;
      font-size: 16px;
      font-weight: 700;
      margin: 0;
    }
    .btn-outline-primary {
      background: #FFFFFF;
      border-color: #0051B0;
      display: flex;
      align-items: center;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 700;
      height: 45px;
      padding: 5px 16px;
      color: #0051B0;
      white-space: nowrap;
      margin-right: 20px;
      .bi-filter {
        color: #0051B0;
        font-size: 26px;
        float: left;
        margin-right: 10px;
        margin-top: 3px;
      }
    }
    .input-group {
      box-shadow: 0px 1px 2px 0px #1018280D;
      .input-group-text {
        border-color: #D0D5DD;
        color: #667085;
        border-radius: 8px;
      }
      .form-control {
        border-color: #D0D5DD;
        box-shadow: none;
        padding-left: 0;
        height: 45px;
        border-radius: 8px;
        color: #667085;
        font-size: 16px;
      }
    }
  }
  .table-responsive {
    border-radius: 10px;
    &.circular-progressbar-table {
      .table {
        th,
        td {
          color: #243346;
          font-size: 16px;
          font-weight: 600;
          height: 44px;
          padding: 0 25px;
        }
        th {

        }
        td {

        }
      }
    }
    .table {
      margin: 12px 0 0;
      background: #FFFFFF;
      th,
      td {
        font-size: 14px;
        border-color: #E9E7FD;
        font-weight: 500;
        vertical-align: middle;
      }
      th {
        color: #848B98;
        background: #F2F6FA;
        height: 51px;
        &:first-child {
          border-top-left-radius: 10px;
        }
        &:last-child {
          border-top-right-radius: 10px;
        }
      }
      td {
        color: #23272E;
        height: 60px;
        .badge {
          height: 28px;
          border-radius: 4px;
          padding: 6px 8px;
          font-size: 12px;
          font-weight: 600;
          display: inline-flex;
          align-items: center;
          min-width: 80px;
          justify-content: center;
          &-completed {
            color: #188B45;
            background: #D3FBE2;
          }
          &-processing {
            color: #DD570B;
            background: #FFE4D5;
          }
        }
        .btn-download {
          font-size: 12px;
          font-weight: 600;
          border-radius: 4px;
          gap: 6px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          height: 27px;
          padding: 0 5px;
          &-green {
            background: #ECFBF4;
            border-color: #ECFBF4;
            color: #047857;
          }
          &-blue {
            background: #EEF7FF;
            border-color: #EEF7FF;
            color: #1E4ED8;
          }
        }
        .text-line {
          color: #0478ED;
        }
        .btn-view {
          border: 1px solid #d6d6d6;
          border-radius: 4px;
          padding: 0 5px;
          .bi-eye {
            color: #23272E;
            font-size: 20px;
          }
        }
      }
    }
  }
  .pagination-count {
    label {
      color: #8B909A;
      font-size: 15px;
      font-weight: 500;
      white-space: nowrap;
    }
    .select-box {
      position: relative;
      select {
        border: 1px solid #E9E7FD;
        border-radius: 6px;
        height: 38px;
        width: 80px;
        margin: 0 10px;
        box-shadow: none;
        font-size: 15px;
        color: #23272E;
        font-weight: 500;
      }
      .arrow {
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%2323272E' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 10px;
        height: 6px;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 17px;
      }
    }

  }
  .pagination {
    margin-top: 20px;
    margin-bottom: 15px;
    gap:3px;
    .page-item {
      .page-link {
        background: #F1F2F6;
        color: #8B909A;
        font-size: 13px;
        height: 28px;
        padding: 4px 8px;
        border-radius: 4px;
        min-width: 28px;
        text-align: center;
        box-shadow: none;
        border-color: #F1F2F6;
      }
      &.active {
        .page-link {
          background: #0F60FF;
          color: #FFFFFF;
        }
      }
    }
  }
}

.download-output {
  padding: 0 32px 0 25px;
  h3 {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 800;
    color: #243346;
  }
  label {
    color: #243346;
    font-size: 16px;
    font-weight: 600;
  }
  .btn-file {
    border: 1px solid #0051B0;
    color: #0051B0;
    font-size: 14px;
    font-weight: 800;
    height: 32px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}



.disabled-link {
  pointer-events: none; /* Disables clicking */
  color: rgba(128, 128, 128, 0.5); /* Light gray with 50% opacity */
  text-decoration: none; /* Remove underline */
  cursor: not-allowed;
  transition: color 0.3s ease-in-out; /* Smooth fading effect */
}

.disabled-link:hover {
  color: rgba(128, 128, 128, 0.3); /* Even lighter on hover */
}

@media (min-width: 576px) {  }


@media (min-width: 768px) { }


@media (min-width: 992px) {

  .overflow-xl-hidden {
    overflow: hidden;
  }

}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {}


@media (max-width: 575.98px) {}


@media (max-width: 767.98px) {}


@media (max-width: 991.98px) {}


@media (max-width: 1199.98px) {}


@media (max-width: 1399.98px) {}

@media (min-width: 320px) and (max-width: 767.98px) {

  .login-banner,
  .login-form {
    width: 100%;
  }

  .login-banner {
    height: auto !important;
    padding: 20px 30px 5px;
  }

  .login-form__block {
    padding: 25px;
  }

  .login-form__block h2 {
    margin: 15px 0;
  }

  .login-banner h2 {
    line-height: 27px;
    font-size: 20px;
  }

  .login-banner p {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .login-banner,
  .login-form {
    width: 100%;
  }

  .login-banner {
    height: auto !important;
    padding: 30px;
  }

}

@media (min-width: 768px) and (max-width: 1199.98px) {}
